/* 
	author：silence
	date：2020-06-19
	description：这是我的自定义样式
	
	注：
		1.本文中，tb表示top 和 bottom
 */

body{
	background: url("../images/picturebg.jpg");
}

/* ============自定义内边距======== */
.m-padding-mini{
    padding-top: 0.2em !important;
}

.m-padding-tiny{
    padding-top: 0.3em !important;
}


/* ============自定义上下内边距======== */
.m-padding-tb-mini{
    padding-top: 0.2em !important;
    padding-bottom: 0.2em !important;
}

.m-padding-tb-tiny{
    padding-top: 0.3em !important;
    padding-bottom: 0.3em !important;
}

.m-padding-tb-small{
    padding-top: 0.5em !important;
    padding-bottom: 0.5em !important;
}

.m-padding-tb{
	padding-top: 1em !important;
	padding-bottom: 1em !important;
}

.m-padding-tb-large{
	padding-top: 2em !important;
	padding-bottom: 2em !important;
}

.m-padding-tb-big{
	padding-top: 3em !important;
	padding-bottom: 3em !important;
}

.m-padding-tb-huge{
	padding-top: 4em !important;
	padding-bottom: 4em !important;
}

.m-padding-tb-massive{
	padding-top: 5em !important;
	padding-bottom: 5em !important;
}

/* ============自定义左右内边距======== */
.m-padding-lr-responsive{
	padding-left: 4em !important;
	padding-right: 4em !important;
}

/* ==========margin================ */
.m-margin-top-small{
	margin-top: 0.5em !important;
}

.m-margin-top{
	margin-top: 1em !important;
}

.m-margin-top-large{
	margin-top: 2em !important;
}

.m-margin-bottom-mini{
	margin-bottom: 0.2em !important;
}

.m-margin-bottom-small{
	margin-bottom: 0.5em !important;
}


/* ============自定义上下外边距======== */
.m-margin-tb-tiny{
	margin-top: 0.3em !important;
	margin-bottom: 0.3em !important;
}


/* ============text============== */
/* 设置粗细度、字间距、行间距 */
.m-text{
	font-weight: 300 !important;
	letter-spacing: 0.0625rem !important;
	line-height: 1.8;
}

.m-text-thin{
	font-weight: 300 !important;
}
.m-text-spaced{
	letter-spacing: 0.0625rem !important;
}
.m-text-lined{
	line-height: 1.8;
}

/* 自定义透明度 */
.m-opacity-mini{
	opacity: 0.8 !important;
}

.m-opacity-tiny{
	opacity: 0.6!important;
}

/* ============position================ */
.m-right-top{
	position: absolute;
	top:0;
	right:0;
}

/* =======dislpay=========== */
.m-inline-blok{
	display: inline-block !important;
}

/* =======container=========== */
.m-container-small{
	max-width: 60em !important;
	margin: auto !important;
}

.m-container{
	max-width: 72em !important;
	margin: auto !important;
}

/* ===========shadow============== */
.m-shadow-small{
	-webkit-box-shadow: 0 4px 8px rgba(0,0,0,0.2) !important;
	box-shadow: 0 4px 8px rgba(0,0,0,0.2) !important;
}

/* =======color=========== */
.m-black{
	color:#333 !important;
}

/* =======position=========== */
.m-fixed{
	position: fixed !important;
	z-index: 1 !important;
}

.m-right-bottom{
	bottom: 1.5rem !important;
	right: 1.5rem !important;
}

/* 设置菜单栏在手机端隐藏，pc端显示 start*/
.m-mobile-show{
	display: none !important;
}

@media screen and (max-width:768px) {
	.m-mobile-hide{
		display: none !important;
	}
	.m-mobile-show{
		display: block !important;
	}
	
	/* 添加blog.html页面的内容和标签的手机端响应 */
	.m-padding-lr-responsive{
		padding-left: 0 !important;
		padding-right: 0 !important;
	}
	
	.m-mobile-clear{
		padding-left: 0 !important;
		padding-right: 0 !important;
	}
	
	/* 添加blog.html页面的留言的内容的手机端响应 */
	.m-mobile-wide{
		width: 100% !important;
	}
}
/* 设置菜单栏在手机端隐藏，pc端显示 end*/
